<div class="grid">
  <div class="col-12">
    <div
      class="flex justify-content-center align-items-center align-content-center text-align-center"
    >
      <!-- login -->
      <form [formGroup]="loginForm" (ngSubmit)="onSubmitLoginForm()">
        <p-card
          styleClass="mt-10"
          header="Login"
          subheader="Sign up with your existent account"
          *ngIf="loginCard"
        >
          <div
            class="flex justify-content-center align-content-center text-align-center"
          >
            <input
              #emailInput
              type="email"
              pInputText
              placeholder="E-mail"
              formControlName="email"
            />
          </div>
          <div
            class="mt-3 flex justify-content-center align-content-center text-align-center"
          >
            <input
              #passwordInput
              type="password"
              pInputText
              placeholder="Password"
              formControlName="password"
            />
          </div>

          <div class="mt-3 card flex justify-content-center">
            <button type="submit" pButton pRipple [disabled]="!this.loginForm.valid">Login</button>
          </div>

          <span
            style="cursor: pointer"
            (click)="loginCard = !loginCard"
            class="flex justify-content-center align-content-center text-align-center mt-3 text-red-600 font-semibold"
          >
            Create account
          </span>
        </p-card>
      </form>

      <!-- signup -->
      <form [formGroup]="signupForm" (ngSubmit)="onSubmitSignUp()">
        <p-card
          styleClass="mt-10"
          header="Create account"
          subheader="Create your free account"
          *ngIf="!loginCard"
        >
          <div
            class="flex justify-content-center align-content-center text-align-center"
          >
            <input type="text" pInputText placeholder="Name" formControlName="name" />
          </div>

          <div
            class="flex justify-content-center align-content-center text-align-center mt-3"
          >
            <input type="email" pInputText placeholder="E-mail" formControlName="email" />
          </div>

          <div
            class="mt-3 flex justify-content-center align-content-center text-align-center"
          >
            <input type="password" pInputText placeholder="Password" formControlName="password" />
          </div>

          <div class="mt-3 card flex justify-content-center">
            <button type="submit" pButton pRipple [disabled]="!this.signupForm.valid">Create account</button>
          </div>

          <span
            (click)="loginCard = !loginCard"
            style="cursor: pointer"
            class="flex justify-content-center align-content-center text-align-center mt-3 text-red-600 font-semibold"
          >
            Sign in
          </span>
        </p-card>
      </form>
    </div>
  </div>
</div>
