<!-- new product form-->
<div>
  <form [formGroup]="addProductForm" (ngSubmit)="handleSubmitAddProduct()">
  <div class="card flex flex-column md:flex-column gap-3">
    <input pInputText placeholder="Name" formControlName="name" />

    <p-dropdown styleClass="w-full"  [options]="categoriesDatas" [(ngModel)]="selectedCategory" optionLabel="name"
       optionValue="id" placeholder="Select a category" formControlName="category_id"></p-dropdown>

    <input pInputText placeholder="Price" formControlName="price" />
    <input pInputText placeholder="Description" formControlName="description" />
    <input pInputText placeholder="Amount" formControlName="amount" />

    <div class="flex flex-row justify-content-center align-content-center align-items-center m-1">
      <p-button type="submit" [disabled]="!addProductForm.valid" label="Submit"></p-button>
    </div>
  </div>
</form>
</div>

<!-- edit product form-->
